<!-- This is the footer for the Travel Experts website -->
	</body>

	<footer>
	  <p> For more information, contact us at 403-123-4567 <br>
	  This page is Copright &copy; by Julie</p>
	</footer>

</html>
