<!-- This is the header for the Travel Experts website -->

<!DOCTYPE html>
<html>
<!-- navigation bar-->
	<nav class="navigation">
		<ul>
		<li> <a href ="/"> Main</a><li>
		<li> <a href="/register"> Registration Page</a><li>
		<li><a href="/contacts"> Contact Us	</a><li>
		</ul>
	</nav>

	<head>
		<!-- link CSS sheet -->
		<link rel="stylesheet" type="text/css" href ="../public/style.css"/>
    <!--To make all pages responsive-->
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- To get airplane icon -->
		<script src="https://kit.fontawesome.com/a076d05399.js"></script>
	</head>

	<header>
	<div class="banner">
		<div class="header"> Welcome to </div>
		<h1>TRAVEL EXPERTS <i class="far fa-paper-plane"></i></h1>
	</div>

	</header>
