<%#This is the 404 error page that shows when the customer inputs the wrong URL to the website.
  	It also provides a link to redirect the customer to the main apge %>

	<%- include("partials/header") %>
	</br>

	<h1 class="oops"> Oops, </h1>
	<h3>you got the wrong page </h3>
	<h3><a id="returnHome" href="http://localhost:8000/"> Click here to return to the first page</a></h3>
	<br>
	<br>
	<br>


<%- include("partials/footer") %>
